* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

/* ---------- Header ---------- */
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.header-left {
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 8;
}
header .fa-bars {
  font-size: 42px;
  align-self: center;
  margin-right: 15px;
  color: rgb(29, 55, 92);
}
.nav-hide {
  position: relative;
}
.toggle-btn-container {
  margin: auto;
  height: 60px;
  width: 40px;
}

.mobile-header-toggle {
  height: 30px;
  width: 36px;
  z-index: 50;
  position: relative;
  align-self: center;
  justify-self: center;
  margin-top: 15px;
}
.button-bar {
  position: absolute;
  z-index: 65;
  width: 50%;
  height: 12%;
  background-color: rgb(29, 55, 92);
  transition-property: transform, width;
  transition-duration: .3s;
}
.top-left {
  top: 0;
  left: 0;
  border-radius: 10px;
  transform-origin: center left;
  transform: rotate(0deg);
  width: 55%;
}
.top-right {
  top: 0;
  right: 0%;
  border-radius: 10px;
  transform-origin: center right;
  transform: rotate(0deg);
  width: 55%;
}
.middle-left {
  top: 50%;
  left: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform-origin: center right;
  transform: rotate(0deg);
}
.middle-right {
  top: 50%;
  left: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform-origin: center left;
  transform: rotate(0deg);
}
.middle-left2 {
  top: 50%;
  left: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform-origin: center right;
  transform: rotate(0deg);
}
.middle-right2 {
  top: 50%;
  left: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform-origin: center left;
  transform: rotate(0deg);
}
.bottom-left {
  top: 100%;
  left: 0;
  border-radius: 10px;
  transform-origin: bottom left;
  transform: rotate(0deg);
  width: 55%;
}
.bottom-right {
  top: 100%;
  right: 0%;
  border-radius: 10px;
  transform-origin: center right;
  transform: rotate(0deg);
  width: 55%;
}
.active > .top-left {
  top: 0;
  left: 0;
  transform-origin: center left;
  transform: rotate(40deg);
  width: 65%;
}
.active > .top-right {
  top: 0;
  right: 0%;
  transform-origin: center right;
  transform: rotate(-40deg);
  width: 65%;
}
.active > .middle-left {
  top: 50%;
  left: 0%;
  transform-origin: center right;
  transform: rotate(40deg);
}
.active > .middle-right {
  top: 50%;
  left: 50%;
  transform-origin: center left;
  transform: rotate(-40deg);
}
.active > .middle-left2 {
  top: 50%;
  left: 0%;
  transform-origin: center right;
  transform: rotate(-40deg);
}
.active > .middle-right2 {
  top: 50%;
  left: 50%;
  transform-origin: center left;
  transform: rotate(40deg);
}
.active > .bottom-left {
  top: 100%;
  left: 0;
  transform-origin: bottom left;
  transform: rotate(-40deg);
  width: 65%;
}
.active > .bottom-right {
  top: 100%;
  right: 0%;
  transform-origin: center right;
  transform: rotate(40deg);
  width: 65%;
}
.number {
  color: hsl(221, 70%, 30%);
  align-self: center;
  font-size: 24px;
}
.logo {
  height: 60px;
  margin: 5px 25px;
}
.logo img {
  height: 100%;
}
#tab-links {
  z-index: 7;
  position: absolute;
  background-color: white;
  top: -120px;
  transition: all .4s ease;
}
#tab-links.active {
  top: 0;
}


#tab-links ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-content: center;
}
#tab-links ul li {
  list-style-type: none;
  display: flex;
  align-self: center;
  padding-left: 15px;
}
#tab-links ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 5px;
  font-size: 22px;
  border-bottom: 3px solid white;
  color: rgb(29, 55, 92);
}
#tab-links ul li a:focus,
#tab-links ul li a:active,
#tab-links ul li a:visited {
  color: rgb(29, 55, 92);
}

#tab-links ul li:hover a {
  border-bottom: 3px solid;
}
#tab-links ul li:hover {
  cursor: pointer;
}
#tab-links ul .flag-pic:hover {
  cursor: default;
}

#tab-links img {
  width: 75px;
  margin: 10px 10px 10px 0;
  border: 1px solid black;
}
.mobile-hide {
  display: none;
}

/* ---------- Body ---------- */
body {
  background-color: rgb(50, 119, 188);
  color: white;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}
.bar-divider {
  width: 95%;
  height: 10px;
  background-color: white;
  margin: 0 auto 10px auto;
  border-radius: 5px;
}

/*  ---------- Main Splash Screen ---------- */

.main-splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-overlay {
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 100vh;
}

.main-overlay .background-clip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}
.color-overlay {
  background-color: rgba(30, 89, 160, 0.9);
  height: 100vh;
  position: absolute;
  width: 100vw;
  opacity: .8;
}
.intro-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 45%;
  height: 100vh;
}
.intro-slogan {
  color: white;
  align-self: center;
  border-radius: 15px;
  padding-left: 15px;
}

.intro-contact .right-side {
  justify-self: flex-end;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
}
.intro-contact .right-side img {
  width: 95%;
  border-radius: 25px;
  align-self: center;
  margin-bottom: 25px;
  display: none;
}
.intro-contact .right-side a {
  align-self: center;
  border-radius: 15px;
  font-size: 40px;
  border: 3px solid black;
  background-color: hsl(221, 70%, 30%);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 15px;
}
.intro-slogan h3 {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
}
.intro-slogan p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

#service-link-container{
  position: sticky;
  z-index: 5;
  top: 235px;
  background-color: white;
}
#service-link-container a {
  position: absolute;
  bottom: 115px;
}

body #services-phone {
  white-space: nowrap;
  position: absolute;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  border: 3px solid black;
  background-color: hsl(221, 70%, 30%);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: font-size .25s ease;
}

body #services-phone.active {
  font-size: 26px;
}

#white-back-phone {
  display: none;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 125px;
  z-index: 3;
  background-color: white;
}
#white-back-phone.active {
  display: block;
}

/* ---------- Services ---------- */
.services {
  background-color: white;
  padding-bottom: 5%;
}
.services h2 {
  text-align: center;
  font-size: 42px;
  padding: 5px 10px;
  color: rgb(29, 55, 92);
  position: relative;
}
#services-link {
  position: absolute;
  top: -120px;
}
.service-tiles {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
}
.services .tile {
  background-color: rgb(29, 55, 92);
  margin: 10px 0;
  padding-top: 10px;
  border-radius: 5px;
}
.services .tile h3 {
  text-align: center;
  font-size: 24px;
  padding: 7px 0 10px 0;
}
.services .img-or-desc {
  position: relative;
  margin: auto;
  padding: 0 10px 0 10px;
}
.services .img-or-desc img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  display: block;
}

.services .img-or-desc .overlay {
  position: absolute;
  margin: 10px 10px 0 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 5px;
  height: 0;
  transition: 0.5s ease;
  line-height: 100%;
}
.services .img-or-desc .overlay p {
  font-size: 24px;
  position: absolute;
  height: 100%;
  text-align: center;
  margin: 25% 15px;
  line-height: normal;
  vertical-align: middle;
}
.services .img-or-desc:hover .overlay {
  height: 100%;
}



/* ---------- About Us ---------- */

.about-us {
  background-color: rgb(29, 55, 92);
}
.about-us h2 {
  position: relative;
  text-align: center;
  font-size: 42px;
  padding: 15px 10px;
}
#about-us-link {
  position: absolute;
  top: -120px;
}

.about-us ul {
  display: flex;
}
.about-us p {
  font-size: 48px;
}

.pic-and-bio {
  display: flex;
  flex-direction: column;
}
.pic-and-bio img {
  width: 95%;
  margin: auto;
  border-radius: 15px;
}
.about-bio {
  display: flex;
  flex-direction: column;
}
.about-bio h4 {
  padding: 15px;
  font-size: 42px;
}
.about-bio p {
  font-size: 24px;
  padding: 25px 10% 30px 25px;
}
.mobile-landscape-pic {
  display: none;
}

/* ---------- Testimonials ---------- */
#testimonial-header {
    text-align: center;
    font-size: 42px;
    padding: 5px 10px;
    margin: 15px;
    position: relative;
}
#testimonial-link {
  position: absolute;
  top: -130px;
}
#testimonials-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(57, 110, 164);
}
#testimonial {
  position: relative;
  align-self: center;
  max-width: 900px;
  width: 90%;
  color: black;
  background-color: rgba(175, 177, 181, 0.935);
  padding: 25px 0 25px 0;
  margin: 0 25px 15px 26px;
  overflow: hidden;
  border-radius: 15px;
}
.swiper-wrapper {
  display: flex;
}
.slide {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: column;
}
#testimonial .slide p {
  text-align: center;
  word-wrap: break-word;
  font-size: 18px;
}
#testimonial .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
}
#testimonial .details > * {
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.swiper-button-next:hover {
  background-color: rgba(42, 92, 220, 0.558);
}
.swiper-button-prev:hover {
  background-color: rgba(42, 92, 220, 0.558);
}
.testimonials h3 {
  margin: 25px 0 5px 0;
  text-align: center;
  word-wrap: break-word;
  font-size: 25px;
  text-decoration: underline;
}
#customer-scroll-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 108px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
}
#customer-scroll-name {
  position: absolute;
  width: 6500px;
  animation: RightToLeft 60s infinite linear;
  display: flex;
}

#customer-scroll-name p {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#customer-scroll-name img {
  height: 100px;
}

@keyframes RightToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -2900px;
  }
}

/* ---------- Footer / Contact ---------- */
footer {
  background-color: rgb(158, 158, 158);
  color: black;
}

.section-header {
  text-align: center;
  font-size: 42px;
  padding: 5px 10px;
}
.contact-cert-info h3 {
  border-bottom: 2px dotted black;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  display: flex;
}
.contact-cert-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.footer-tile {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.contact ul {
  display: flex;
}

#contact-form {
  width: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgb(29, 55, 92);
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px 0;
  margin-top: 5px;
}

#contact-link {
  position: absolute;
  top: -140px;
}

#contact-form div {
  width: 80%;
  display: flex;
}
#contact-form p {
  width: 80%;
  font-size: 18px;
  font-weight: bold;
}
#submit-btn {
  margin: 5px 15px 5px auto;
  align-self: flex-end;
  font-size: 20px;
  padding: 5px;
  color: rgb(29, 55, 92);
  background-color: white;
  border-radius: 5px;
}
#contact-form div input {
  margin: 5px auto;
  font-size: 20px;
  width: 100%;
  align-self: center;
}
#contact-form div textarea {
  font-size: 19px;
  margin: 5px auto;
  width: 100%;
  height: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cert-info #bfp-cert {
  font-weight: bolder;
}
#cert-info p {
  padding: 10px;
}
#cert-info span {
  font-weight: bolder;
}
#cert-info a {
  width: 100%;
  text-align: center;
}
#cert-info img {
  align-self: center;
  width: 90%;
  border-radius: 15px;
  cursor: pointer;
margin: 10px 5px;
}
#cert-info > * {
  width: 85%;
  align-items: center;
}

#form-wrapper > * {
  padding: 8px 0;
}

#form-wrapper #social-media-icons img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}
#contact-form > p {
  color: white;
  padding-left: 0px;
    width: 80%;
    padding-bottom: 10px;
}
#submit-btn {
  margin: 5px 15px 5px auto;
  align-self: flex-end;
  background-color: rgb(57, 110, 164);
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

#service-locations {
  position: relative;
}
#service-locations .overlay {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
}
#service-locations #contact-link {
  margin-bottom: 50px;
}

#service-locations > * {
  width: 85%;
}
#service-locations p {
  padding: 0 0 10px 0;
}
#service-locations img {
  border: 1px solid black;
  border-radius: 15px;
}


